# Ignore environment variable files
.env
.env.local
.env.*.local

/frontend/

# Ignore dependencies
node_modules/
node_modules/**

# Ignore build output
dist/
out/
build/
.vite/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE & editor settings
.vscode/
.idea/
*.iml

# Ignore AWS CLI installer & backup files
awscliv2.zip
backup.zip

# Ignore optional OS-specific files
*.swp
*.swo
